#blue_car{
    width: 200px;
    top:100px;
    right: 100px;
    position: fixed;
}

.animation{
    animation-timing-function: ease-in;
#    animation-iteration-count: infinite;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-duration: 2.5s;
}

.keyframe0{
    animation-name: anim_po;
    position: absolute;
}

@keyframes anim_po {
    0% {
        transform: translate(0px, 0px);
    }
    47% {
        transform: translate(-700px, 1000px);
    }
    52% {
        transform: translate(-700px, 1000px) scale(-1, 1);
    }
    90% {
        transform: translate(0px, 2000px) scale(-1, 1);
    }
}